* {
  margin: 0px;
  padding: 0px; /*preenchemento interno da caixa*/
  box-sizing: border-box; /*A medida do tamanho da caixa  para ser medida atraves da borda*/
}
body {
  background-color: rgba(0, 0, 0, 0.918);
  font-family: Arial, Helvetica, sans-serif;
}


.linha1 {
  padding: 16px 0px;
  margin: auto;
  display: flex;
  align-items: center;
}

.name {
  margin: 20px 30px 10px 20px;

  width: 130px;
  display: inline-block;
}
.name h2 {
  color: rgb(209, 208, 208);
  text-align: center;
  padding: auto;
  font-size: 17px;
}
.name h1 {
  color: white;
  text-align: center;
  font-size: 22px;
}
.swit {
  width: 380px;
  height: 50px;
  background-color: rgb(114, 107, 107);

  border-radius: 9999px;
  align-items: center;
  padding: 5px 0px 5px 10px;
  align-items: center;
  display: flex;
}

.input {
  margin: 10px 0px 10px 0px;
  color: aliceblue;
  background-color: rgba(110, 110, 110, 0.438);

  border: none;
  width: 250px;
}
.luneta {
  width: 30px;
  height: 30px;
}

:focus-visible {
  outline: none;
}
.pesqui {
  margin: 10px 0px 0px 60px;
  align-items: center;
}

.pesqui2 {
  margin: 0px 0px 0px 60px;
}

.camera {
  background-color: rgba(137, 43, 226, 0.973);
  border-radius: 50%;
  position: absolute;
  top: 0;
  padding: 15px 20px;

  left: 0;
  margin: 0px 30px 0px 0px;
}
.com {
  color: aliceblue;
  justify-content: center;
  text-align: right;
  margin: 0px 15px;
}

.stream {
  display: block;
  width: 160px;
  height: 50px;
  background-color: rgba(207, 7, 207, 0.267);
  backdrop-filter: blur(4px);
  border-radius: 9999px;
  align-items: center;
  padding: 0px 0px;
  color: aliceblue;
  border: none;
}

.itens {
  margin: 10px 0px 0px 60px;
  display: flex;
}

.config span {
  width: 30px;
  height: 30px;
  margin: auto 15px;
  color: rgb(94, 94, 95);
}
.sino {
  color: rgb(94, 94, 95);
}

.btt {
  background-color: rgba(57, 59, 59, 0.247);
  height: 135%;
  width: 35%;
  border-radius: 9999px;
  color: #fff;
  border: none;
}

.pessoal {
  margin: 0px 30px 0px 60px;
  display: flex;
}

.avatar img {
  width: 50px;
  height: 50px;
  margin: 0px 15px;
}
.status {
  display: block;
}
.status h1 {
  margin-top: 8px;
  font-size: 14px;
  color: #fff;
}
.status h2 {
  font-size: 11px;
  color: orange;
  margin-top: 4px;
}

.pess span {
  color: #fff;

  font-size: 35px;

  text-align: center;
  margin: 0px 0px 0px 110px;
  align-items: center;
  background-color: rgba(255, 251, 251, 0.096);
  border-radius: 30px;
}

.ops {
  height: 600px;
  margin: 0px 30px;
  display: flex;
}
.menu {
  margin: 0px 30px 0px 30px;
}
.list {
  width: 100px;
}

.lari li {
  color: #ffffff;
  background-color: #f8000000;
  margin: 0px 0px;
  padding: auto;
  font-size: 30px;
  align-items: center;
}
#span {
  color: #fff;
  font-size: 44px;
  margin: 0px 0px 0px 33px;
  padding: auto;
  margin-top: 0px;

  background-color: rgb(187, 103, 152);

  border-radius: 20px;
}
.list {
  margin: 30px 0px 20px 0px;
}

.lari {
  width: 50px;
  height: auto;
  background-color: rgba(114, 107, 107, 0.199);

  border-radius: 9999px;
  align-items: center;
  padding: 0px auto 5px auto;
  margin: 20px 0px 0px 30px;
}
.lari ul {
  list-style-type: none;
  padding: 10px 0px;
  text-align: center;
}

.fort {
  background-color: rgb(187, 103, 152);
  width: 680px;
  height: 300px;
  border-radius: 30px;

  margin: 30px 30px 0px 0px;
}

.top {
  background-color: rgba(128, 128, 128, 0.253);
  width: 350px;
  height: 300px;
  border-radius: 30px;
  margin: 30px 10px 0px 0px;
}

.list2 {
  margin: 5px 60px 0px 0px;
}
.lari2 {
  width: 50px;
  height: 100px;

  align-items: center;
  padding: 5px auto 5px auto;
  margin: 0px 0px 0px 30px;
}
.lari2 ul {
  list-style-type: none;
  padding: 10px 0px;
  text-align: center;
}
.lari2 li span {
  color: #ffffff;
  background-color: #f8000000;
  margin: 10px 0px;
  padding: auto;
  font-size: 30px;
  align-items: center;
}

.list3 {
  margin: 300px 60px 0px 0px;
}

.lari3 ul {
  list-style-type: none;
  padding: 10px 0px;
  text-align: center;
  margin: 20px 0px;
}

.lari3 li span {
  color: #ffffff;
  background-color: #f8000000;
  margin: 10px 0px;
  padding: auto;
  font-size: 30px;
  align-items: center;
}

.top {
  padding: 15px 20px;
}

.margin-top {
  color: #fff;
  font-size: 15px;
}
.alan {
  display: flex;
  align-items: center;
  padding: 0px 0px 7px 0px;

  margin-top: 10px;
  box-shadow: gray inset 0 -1px 0; /*Coloca uma linha embaixo da coluna*/
}
#medal {
  color: orange;
}

.eu {
  width: 55px;
  height: 55px;
  border-radius: 800px;
  margin: 0px 0px 0px 15px;
}
#h1 {
  color: orange;
  font-size: 15px;
  margin: 0px 0px 3px 0px;
}
.zoka {
  display: block;
  color: gray;
  font-size: 7px;
  align-items: none;
  margin: 0px 2px 0px 8px;
  padding: 5px 5px;
}

.jogo {
  display: flex;
  align-items: center;
  text-align: center;
  gap: 7px;
  width: 110px;
  height: auto;
  background-color: rgba(8, 255, 28, 0.199);

  border-radius: 9999px;

  padding: 0px 5px 5px 5px;
  margin: 0px 0px 0px auto;
  color: #fff;
  font-size: 15px;
}

.alan h1 {
  font-size: 20px;
  color: #fff;
  margin: 3px 13px 0px 0px;
}
.jogo2 {
  display: flex;
  align-items: center;
  text-align: center;
  gap: 7px;
  width: 110px;
  height: auto;
  background-color: rgba(119, 25, 25, 0.199);

  border-radius: 9999px;

  padding: 0px 5px 5px 5px;
  margin: 0px 0px 0px auto;
  color: #fff;
  font-size: 15px;
}
.tre {
  padding: 15px 15px;
  background-color: rgba(0, 0, 0, 0.048);
  margin: 20px 20px;
  height: auto;
  width: 350px;
  border-radius: 10px;
}
.ding {
  color: #ffff;
  font-size: 10px;
}
.des {
  color: #ffffff;
  margin-top: 20px;
}

.des h2 {
  font-size: 15px;
  margin-top: 10px;
}

.sem {
  width: 100px;
  margin-top: 10px;
  background-color: #fff;
  height: 50px;
  border-radius: 99999px;
  text-align: center;
}

.sem button {
  border: none;
  color: #c2689f;
  margin-top: 20px;
  text-align: center;
}

.lala {
  display: flex;
  height: 340px;
  margin: 0px 0px 20px 0px;
}

.TREDING {
  
  color: #8d8b8b;
  padding: 0px 5px;
}

.play {
  color: #ffffff;
  font-size: 30px;
  margin-top: 6px;
}

.rafa {
  height: auto;
  
  margin: 20px 0px 20px 0px;
}

.rafa1 {
  color: #ffffff;
}

.rafa3 {
  display: flex;
  gap: 15px;
  list-style-type: none;
}
.view{
  color: rgb(175, 56, 85);
 
  margin-left: 730px;
}
.view1{
  display: flex;
  align-items: center;
}
.live{
  
  
  height: auto;
  width: auto;
  margin: 20px 0px  0px 0px;
  display: flex;
  
}
.imagem{
  border-radius: 10px;
  height: 170px;
  width: 340px;
}
.games{
  height: auto;
  width: 280px;
  margin: 0px 80px 0px 0px;
  padding: auto;
}
.jogador{
      width: 55px;
    height: 55px;
    border-radius: 9900px;
   
    margin-top: 10px;
}
.line1{
  display: flex;
  height: auto;
}
.live1{
  color: #fff;
 margin: 10px 0px 0px 8px;
  
}
#nome{
  color: orange;
  font-size: 15px;
  align-items: center;
  justify-content: center;
  
  
}
  .p{
    margin-top: 5px;
    font-size: 20px;
    gap: 20px;
    
  }

  .visua{
    font-size: 15px;
    color: #8d8b8b;
    margin-top: 5px;
    
  }
  #games{
    margin: 0px 0px 0px 0px;
  }
  /**/


.list span{
  font-size: 30px;
}

.rafa3 :hover{
  color: #c2689f;
   box-shadow:#c2689f inset 0 -2px 0; /*Coloca uma linha embaixo da coluna*/
   transition: 0.7s;
}

.ligth :hover{
  background-color: rgb(73, 74, 75);
 border-radius: 999px;
 transition: 0.7s;
}



  